<div class="nav-link active" id="pills-1-tab" data-toggle="pill" href="#pills-1" role="tab" aria-controls="pills-1" aria-selected="true">
    <h4>{{ title }} </h4>
    <p>
    {{ field_headline }} 
    </p>
</div>