body .is-active {
  background-color: transparent;
}

nav#block-cctx-main-menu .is-active {
  background-color: #ea9c37;
}

.page main.main {
  background-color: #fff;
  padding-left: 35px;
  padding-right: 35px;
  padding-bottom: 35px;
}

h3, .h3 {
  font-size: 1.53125rem;
}


hr.line-orange-center {
  border: 0;
  height: 4px;
  background-color: #f57e3a;
  width: 490px;
  float: left;
  margin: 0px;
}

.page div h3 {
  padding-top: 35px;
}

.card-deck .card {
  padding-left: 0;
  padding-right: 0;
}

.btn.btn-lg.btn-success a,
.btn.btn-danger a {
  color: #ffffff;
}

.page-node-type-department.page main.main {
  background-color: transparent;
  padding-left: 0;
  padding-right: 0
}

.page-node-type-department div h3 {
  padding-top: 0;
}

#views-bootstrap-department-block-1 {
  margin-top: 20px;
}

div[data-block-id="2ba92541-086b-4e29-ad98-ec0815c45e2a"] img {
  height: 300px;
  width: 100%;
}

div[data-block-id="b37141f8-2c17-43c1-9e0b-17116f6d03fc"] header {
  width: 100%;
}

.card-img img, .card-img-bottom img, .card-img-top img {
  width: 100%
}

.no-gutters .col-5 {
  background-color: #323232;
  border: 1px solid #f3f3f1;
  color: #ffffff;
}

.no-gutters .col-7 {
  background-color: #000000;
  color: #ffffff;
}

.headlines.col-xl-4 {
  float: right;
}

.mission.col-xl-8 {
  float: left;
}

.main-tiles-item img {
  width: 76px;
  height: 76px;
}

body.page-node-type-department.page .row.contextual-region {
  margin-left: -1px;
  margin-right: -1px;
  clear: both;
}

body.page-node-type-department .grid.views-view-grid.horizontal {
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 15px;
}


div.quickedit-form.quickedit-editable.quickedit-highlighted.quickedit-editing {
  max-width: 80%;
}